<%- include('../partials/header') %>

<a href='/questions'>Back</a>
<h1><%= question.title %></h1>
<p><%= question.description %></p>
<p><strong>Create At: </strong><%= question.createdAt %></p>

<!-- EDIT LINK -->
<a href="/questions/<%= question.id %>/edit">Edit</a>


<!-- DELETE BUTTON -->
<form action="/questions/<%= question.id %>" method="post">
  <input type="hidden" name="_method" value="delete"/>
  <input type="submit" value="Delete"/>
</form>

<h2>Answers</h2>

<form action="/questions/<%= question.id %>/answers" method="post">
  <div>
    <textarea id="content" name="content"></textarea>
  </div>
  <input type="submit" name="submit" value="Submit"/>
</form>

<ul class="answers-list">
  <% for (let answer of answers) { %>
    <li>
      <p><%= answer.content %></p>
      <p><strong>Created At: <%= answer.createdAt %></strong></p>
    </li>
  <% } %>
</ul>

<%- include('../partials/footer') %>
